[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "static/cv"]
	path = static/cv
	url = git@gitlab.com:miti99/cv.git
[submodule "static/loto"]
	path = static/loto
	url = git@gitlab.com:miti99/loto.git
